
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.back-round {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.back-round:focus {
    background-color: #ededed;
}

/* header__head-left */

.menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu {
    font-size: 22px;
}

.icon-logo {
    display: flex;
    position: relative;
    bottom: 8px;
    font-size: 28px;
    padding: 20px 0px 5px 12px;
    color: red;
}

.youtube {
    display: flex;
    font-weight: 900;
    transform: scale(1,1.65);
    margin-bottom: 2px;
}

.icon-country {
    display: flex;
    font-size: 3px;
    position: relative;
    align-items: center;
    margin: 12px 0px 0px 3px;
    padding-bottom: 35px;
    color: #606060;
}

/* header__search */

.keyboard__button {
    color: #757575;
    padding: 0px 4px 0px 4px
}

.keyboard__button:hover {
    color: #000;
}

.search__button {
    display: flex;
    width: 100%;
    height: 40px;
    margin-left: 40px;
    padding: 0px 4px 0px 4px;
}

.scope__button {
    height: 40px;
    width: 64px;
    border: solid 1px;
    border-radius: 0px 2px 2px 0px;
    border-color: #ccc;
    background-color: #F8F8F8;
    padding: 1px 6px 1px 6px;
}

.icon-scope {
    display: flex;
    font-size: 18px;
}

.mic__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-mic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

/* header__head-right */

.create__button {
    margin-right: 8px;
}

.icon-create {
    font-size: 20px;
}

.notification__button {
    margin-right: 8px;
}

.icon-notification {
    font-size: 20px;
}

.user__button {
    width: 100%;
    padding: 1px 6px 1px 6px;
}

.icon-user {
    font-size: 32px;
}