* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}


/* header */
header {
    width: 100%;
    height: 56px;
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header__head-left */

.header__head-left {
    display: flex;
    align-items: center;
}

.header__logo-youtube {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}

/* header__search */

.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 728px;
}

.searcher__box {
    display: flex;
    align-items: center;
    width: 100%;
}

/* header__head-right */

.header__head-right {
    display: flex;
}